@import "tailwindcss";

:root {
  --background: #0f172a;
  --foreground: #f8fafc;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  /* Premium dark gradient */
  background: radial-gradient(circle at top left, #1e1b4b, #0f172a);
}